@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

:root{
    --primary-color: #a5b4fc;
    --black-color: black;
    --txt-font:'Kalam', cursive;
    --width-break: 600px;
}

body{
    font-family: 'Kalam', cursive;
    margin: 0px;
    color: var(--black-color);
}

nav{
    background-color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

main{
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea{
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: var(--txt-font);
}

button{
    background-color: var(--primary-color);
    border: none;
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    font-family: var(--txt-font);
    font-size: large;
}

div{
    text-align: center;
    display: block;
}

#Txt-Output{
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vb;
    overflow: scroll;
    border: 1px solid var(--black-color);
    padding: 1rem;
    font-size: large;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}

footer p{
    max-width: var(--width-break);
    margin: auto;
}
